<!DOCTYPE html>
<!-- convert to dark mode: data-bs-theme="dark" -->
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Inscription Project</title>
  <!-- bootstrap import -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <style>
    /* center class */
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    .backImage {
      background-image: url("static/cover1.jpg");
      background-color: #cccccc;
      height: 500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      opacity: 0.5;
    }
  </style>
  
  <title>Home</title>
</head>
<body>
  <!-- Navbar -->
  {% include 'navbar.html' %}

  <!-- Main Content -->
  <div class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1>Exploring Sri Lanka's Ancient Past: Early Brahmi Inscriptions</h1>
      <br>
    </div>

    <!-- Background Image -->
    <div class="backImage">   
    </div>
    <br>
    <br>
    <!-- Content Details -->
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <p>
            Inscriptions are historical documents etched or engraved onto durable materials such as stone, metal, or wood. They provide invaluable insights into the past, shedding light on various aspects of society, including governance, religion, culture, and language.
          </p>
          <p>
            Discover the rich tapestry of Sri Lanka's ancient history through its early Brahmi inscriptions. These inscriptions, dating back centuries, offer a glimpse into the island's cultural heritage and the spread of Indian influences.
          </p>
          <p>
            Written in the Brahmi script, these inscriptions cover a wide range of subjects, from religious teachings to administrative decrees. Carved into caves, temple walls, and other locations across the island, they serve as enduring reminders of Sri Lanka's ancient civilizations.
          </p>
          <p>
            Transport yourself back in time to the period when these inscriptions were created. Explore the historical backdrop against which these inscriptions were carved, illuminating the socio-political landscape of ancient Sri Lanka.
          </p>
          <p>
            Delve into the world of scholarly research and interpretation surrounding these inscriptions. Learn about the latest findings and debates, as experts strive to unravel the mysteries of Sri Lanka's early history.
          </p>
          <p>
            Join us in preserving and celebrating Sri Lanka's cultural heritage. By studying and appreciating these ancient inscriptions, we honor the legacy of our ancestors and ensure that their stories continue to inspire future generations.
          </p>
          <p>
            Ready to embark on a journey through time? Explore our website for additional resources and plan your visit to some of Sri Lanka's most iconic historical sites.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  {% include 'footer.html' %}

  <!-- JavaScript imports -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>
